// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tracks-table {
  background-color: #eee;

  .playing-status {
    width: 10px;
    display: inline-block;
    font-weight: 600;
    visibility: hidden;
  }

  tr.playing {
    background-color: pink;

    .playing-status {
      visibility: visible;
    }
  }
}